### collected static files ###
/static/*

### user uploaded media files, eg. logo ###
/media/*

###local cache folder
/cache/*

### fixtures related to daksh_api_framework and its categories
/daksh_api_framework/fixtures/*

### Built doc files. ###
_build/

### PyCharm ###
.idea
.iml

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

## South ###
migrations/

### Django ###
*.log
*.pot
*.pyc
local_settings.py

### Python ###
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Docker
# production db pull script (Docker/postgresdb/get-prod-dump-s3.sh) creates this temporary files
Docker/postgresdb/restore.sql
Docker/postgresdb/postgres_daksh_api.sql.tar.xz

# Unix sed
.*.sql

#IPython
**/.ipynb_checkpoints*
**/*.djcache/*

# Airflow
Docker/airflow/airflow-webserver.pid
Docker/airflow/airflow.db
Docker/airflow/logs
Docker/airflow/cache/
